.add-post textarea{
    height: 200px;
    resize: none;
}

.add-post-close {
    float: right;
    cursor: pointer;
}

.add-post-btn {
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    .not-auth-post {
        font-size: 16px;
    }
}