.delete-comment {
    text-align: center;
}

.delete-comment button {
    margin: 0 5px;
}

.delete-comment-btn {
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 5px;
}

.delete-comment button {
    margin-top: 5px;
}

@media (max-width: 576px) {
    .delete-comment {
        padding: 5px;
    }
}