.logo {
    width: 50px;
    margin: 0 10px;
}

.navbar a {
    color: white !important;
    transition: 0.3s all;
}

.navbar a:hover {
    color: black !important;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}