.sender-image {
    width: 30px;
}

.notification {
    margin: 0;
    cursor: default;
}

.notification-comment {
    color: black;
}

.notification-like {
    color: red;
}

.mark-read {
    cursor: pointer;
    font-size: 12px;
}

.mark-read :hover{
    text-decoration: underline;
}