.card-img {
    width: 100px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 20px;
}

.like-btn {
    cursor: pointer;
}

.like-btn.onlike {
    color: red;
}

.like-comment span {
    margin-right: 10px;
}

.post-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.post-image img {
    max-width: 100%;
}

.post-title {
    margin-right: 10px;
}