.template-profile-username {
    background-color: gray;
    height: 20px;
    width: 60%;
    margin: 10px auto;
}

.template-profile-image {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.template-profile-change-img {
    background-color: gray;
    height: 12px;
    width: 60%;
    margin: 15px auto;
}

.template-profile-info {
    background-color: gray;
    height: 20px;
    width: 60%;
    margin-left: 20px;
    margin-bottom: 16px;
}

@media (max-width: 576px) {
    .template-profile-info {
        margin: 0 auto;
        margin-bottom: 16px;
    }
}